<h1> Video Selection </h1>
<div *ngFor="let vid of vidList; index as i">
  <div class="mdl-card mdl-shadow--2dp mdl-card--horizontal">
    <div class="mdl-card__media">
      <img src={{vid.image}} />
    </div>
      <div class="{{vid.name}}">
        <h2 class="mdl-card__title-text">{{vid.rev}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Date Created:  {{vid.DateCreated}}
        {{vid.Reviewed ? 'Reviewed' : 'Not Reviewed'}}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">Review</a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple"><i class="material-icons">flag</i></button>
      </div>
  </div>
</div>
