<h1> Video Selection </h1>
<div *ngFor="let vid of vidList; index as i">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <img mat-card-avatar src="https://source.unsplash.com/random/200x200"> -->
      <mat-card-title>{{vid.name}}</mat-card-title>
      <mat-card-subtitle>{{vid.Reviewed ? 'Reviewed' : 'Not Reviewed'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{vid.image}}>
    <mat-card-content>
      <p>Date Created:  {{vid.DateCreated}}</p>
    </mat-card-content>
    <mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>Details</button> -->
        <a [routerLink]="['/inner-picker', vid.id]">Go</a>
        <!-- <button mat-button>Select</button> -->
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
