<h1>Inner Selection</h1>

<!--put filters here-->

<div *ngFor="let item of generalList; index as i" >
      <div class="horizontal-card">
        <!-- <img src={{vid.image}} /> -->
        <div class="horizontal-card-body">
          <span class="card-text">{{item.id}}</span>
          <h4 class="card-title">Item {{i+1}}</h4>
          <span class="card-text">{{item.name}}</span>
        </div>
        <div class="horizontal-card-footer">
          <!-- <span>Details</span> -->
          <a class="card-text status">Date Created:  {{item.DateCreated}}</a>
          <a class="card-text status">Reviewed:  {{item.Reviewed ? 'Reviewed' : 'Not Reviewed'}}</a>
        </div>
      </div>
    <!-- </a> -->
    <!-- </div> -->




